.swiper__Height{
  margin-top: 3.5rem;
  height: 10rem;
}

.swiper__Height div{
  margin-top: 1rem;
  max-height: 100%;
}

.mySwiper.swiper-wrapper{
  height: 20% !important;
}

.image__Hero{
  margin-top: 3.6rem;
  width: 100%;
  max-height: 100%;
}

.image__wrapper{
  max-width: 100%;
}

@media screen and (max-width: 599px) {
  .image__Hero{
    margin-top: 3.1rem;
    width: 100%;
    max-height: 100%;
  }
}